.paragraph{
    font-family: "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    line-height: 2;
    word-wrap: break-word;
}
figure {
    float: right;
    width:50%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
  }